@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  width: 100vw;
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
}
main .top-banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url("https://cdn.wionews.com/sites/default/files/inline-images/Nityanand%20Charan%20Das.jpg");
}
main .top-banner .top-content {
  width: 85%;
  margin: 0 auto;
}
main .top-banner .top-content p {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: 400;
  font-family: "Open Sans";
}
main .top-banner .top-content h1 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  max-width: 40%;
  color: white;
  padding-bottom: 2rem;
}
main .middle-div {
  width: 60%;
  margin: 0 auto;
  display: flex;
  z-index: 99;
  overflow: visible;
}
main .middle-div .middle-left {
  width: 60%;
}
main .middle-div .middle-left .top-tabs {
  width: 100%;
  margin: 1rem 0;
  display: flex;
}
main .middle-div .middle-left .top-tabs span {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 0.5rem 3rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 800;
  color: rgba(0, 0, 0, 0.66);
}
main .middle-div .middle-left .top-tabs span:hover {
  cursor: pointer;
}
main .middle-div .middle-left .top-tabs span.active {
  border-bottom: 3px solid #7c3aed;
}
main .middle-div .middle-left .content {
  padding: 1rem 0;
  width: 90%;
}
main .middle-div .middle-left .content h1 {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
}
main .middle-div .middle-left .content p {
  font-size: 0.8rem;
  width: 90%;
  font-weight: 500;
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.8);
}
main .middle-div .middle-left .content h2 {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
  padding: 1rem 0;
}
main .middle-div .middle-left .content ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
main .middle-div .middle-left .content ul li svg {
  flex-shrink: 0;
  margin-right: 1rem;
}
main .middle-div .middle-right {
  width: 40%;
  overflow: visible;
}
main .middle-div .middle-right .main-inside-price {
  width: 25vw;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 20%;
  left: 60%;
  transform: translateY(-2rem);
  background-color: rgb(246, 238, 248);
  padding: 2rem;
  z-index: 99;
}
main .middle-div .middle-right .main-inside-price span {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: karla;
}
main .middle-div .middle-right .main-inside-price h1 {
  font-family: "Merriweather", serif;
  font-weight: 800;
}
main .middle-div .middle-right .main-inside-price .price-bottom {
  padding-top: 1rem;
}
main .middle-div .middle-right .main-inside-price .price-bottom h2 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
main .middle-div .middle-right .main-inside-price .price-bottom .whats-included {
  display: flex;
  flex-direction: column;
}
main .middle-div .middle-right .main-inside-price .price-bottom .whats-included span {
  font-family: "karla";
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.25rem 0;
  color: rgba(0, 0, 0, 0.85);
}
main .middle-div .middle-right .main-inside-price .price-bottom .whats-included span svg {
  margin-right: 0.5rem;
}
main .middle-div .middle-right .main-inside-price .price-bottom button {
  width: 100%;
  outline: 0px;
  border: 0px;
  color: white;
  font-family: karla;
  font-size: 1rem;
  border-radius: 100px;
  padding: 0.7rem 0;
  margin: 1rem auto;
  background-color: #5b21b6;
}
main .about-the-instructor {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
}
main .about-the-instructor h1 {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  max-width: 40%;
  color: black;
  padding-bottom: 2rem;
}
main .about-the-instructor .inside-about {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main .about-the-instructor .inside-about img {
  width: 15%;
  border-radius: 100%;
}
main .about-the-instructor .inside-about .inside-about-top {
  width: 85%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
main .about-the-instructor .inside-about .inside-about-top .inside-about-top-para {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
main .about-the-instructor .inside-about .inside-about-top p {
  font-size: 0.8rem;
  width: 100%;
  font-weight: 500;
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.8);
}
main .about-the-instructor .inside-about .inside-about-handles {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main .about-the-instructor .inside-about .inside-about-handles span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "karla";
  margin-right: 2rem;
  font-size: 0.8rem;
}
main .about-the-instructor .inside-about .inside-about-handles span img {
  width: 1rem;
  border: 0px;
  border-radius: 0px;
  height: auto;
  margin-right: 0.5rem;
}
main .testimonial {
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(230, 230, 230, 0.594);
}
main .testimonial .testimonial-inside {
  width: 60%;
  margin: 0 auto;
  padding-top: 2rem;
}
main .testimonial .testimonial-inside h1 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}
main .testimonial .test-bottom {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: karla;
}/*# sourceMappingURL=main.css.map */